--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us/
intel-extension-for-pytorch==2.8.10+xpu
torch==2.9.1+rocm6.3
oneccl_bind_pt==2.8.0+xpu
optimum[openvino]
llvmlite==0.45.1
numba==0.62.1
transformers
intel-extension-for-transformers
bitsandbytes
outetts
sentence-transformers==5.1.2
protobuf==6.33.1